/* static page */
/* works */
body.modal-open {
    margin-right: 0;
}

/* blog entry */
.blog .entry p {
    margin: 0 0 1em 0;
}
.blog .entry section {
    margin-left: 5px;
}
.blog .entry section h1 {
    margin-top: 1.5em;
    font-size: 26px;
}
.blog .entry section h2 {
    margin-top: 1em;
    font-size: 24px;
}
.blog .entry section h3 {
    margin-top: 1em;
    font-size: 18px;
}
.blog .entry section ul {
    margin-left: 2em;
    list-style-type: disc;
}
